rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    // Users can only write to their own profile picture folder
    match /profilePictures/{userId}/{fileName} {
      allow write: if request.auth != null && request.auth.uid == userId;
      allow read: if request.auth != null; // Allow any authenticated user to read profile pics
    }

    // Any authenticated user can upload job attachments
    match /jobs/{userId}/{jobId}/attachments/{fileName} {
      allow write: if request.auth != null && request.auth.uid == userId;
      allow read: if request.auth != null;
    }
    
    // Allow providers to upload to their own portfolio
    match /providerProfiles/{userId}/portfolio/{itemId}/{fileName} {
       allow write: if request.auth != null && request.auth.uid == userId;
       allow read;
    }

    // Allow providers to upload to their own certifications
     match /providerProfiles/{userId}/certifications/{certId}/{fileName} {
       allow write: if request.auth != null && request.auth.uid == userId;
       allow read;
    }

    // Allow providers to upload banner and profile pictures
    match /providerProfiles/{userId}/{imageType}/{fileName} {
       allow write: if request.auth != null && request.auth.uid == userId && imageType in ['profilePictures', 'bannerImages'];
       allow read;
    }

     // Allow users to upload chat images
    match /chatAttachments/{chatId}/{fileName} {
        allow read, write: if request.auth != null;
    }
  }
}